**/activemq-data/**
*~
*.swp
*.class
bin/
target/
target-ide/
logs/
.asciidoctor/
.settings/
.project
.classpath
.idea
*.iml

JArchitectOut/
*.jdproj


# log files
datanucleus.log
isis.log
replay*.log
hs_err_pid*.log

# Package Files #
*.jar
*.war
*.ear

dependency-reduced-pom.xml
pom.xml.tag
pom.xml.next
pom.xml.releaseBackup
pom.xml.versionsBackup

.clover/
*.jdproj
JArchitectOut/

#
# approval tests
#
*.received.txt

rebel.xml
translations.pot

.floo
.flooignore

.flattened-pom.xml
